.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  background-color: #ffffff;
  padding: 3px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 100;
}

.card__image {
  width: 100%;
  top: 280px;
  left: 1076px;
  border-width: 1px;
  border: 1px solid #0000004d;
  border-radius: 19px;
}

.card__header {
  display: flex;
  position: absolute;
  flex-direction: row;
}

.card__like-btn {
  border: none;
  background: none;
  padding-top: 5px;
}

.card__like-icon {
  width: 20px;
  height: 20px;
  filter: grayscale(100%);
}

.card__like-icon.liked {
  filter: grayscale(0%) brightness(0) saturate(100%) sepia(100%)
    hue-rotate(-30deg) contrast(1.2);
}
