@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../fonts/CabinetGrotesk-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.page {
  background: #f3f3f3;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}

.page__content {
  margin: 0 auto;
  padding: 0 20px;
}
