.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
}

.header__logo {
  margin-right: 24px;
  margin-bottom: 5px;
  width: 89;
  height: 40;
}

.header__date-and-location {
  margin: 0;
  width: 160;
  height: 24;
  top: 11px;
  left: 113px;
  font-weight: 300;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__spacer {
  flex-grow: 1;
  min-width: 665px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}

.header__add-clothes-btn {
  width: 116;
  height: 24;
  top: 8px;
  left: 1015px;
  background: none;
  border: none;
}

.header__avatar {
  cursor: pointer;
}

.header__avatar:hover {
  background-image: url(../../assets/avatar_hover.png);
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  width: 157;
  height: 25;
  top: 8px;
  left: 1151px;
}

.header__profile-link {
  text-decoration: none;
  color: #000000;
  font-weight: 300;
}

@media (max-width: 1440px) {
  .header {
    width: 100%;
    padding: 0 20px;
  }
  .header__spacer {
    min-width: 0;
  }
  .header__right {
    gap: 10px;
  }
}

@media (max-width: 665px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .header__left,
  .header__right {
    justify-content: center;
    width: 100%;
  }
  .header__spacer {
    display: none;
  }
}
