.sidebar {
  gap: 16px;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  top: 119px;
  left: 40px;
  border-width: 1px;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-top: 24px;
  gap: 8px;
}

.sidebar__edit-button {
  display: flex;
  background: none;
  border: none;
  justify-content: start;
}

.sidebar__signout-button {
  display: flex;
  background: none;
  border: none;
  justify-content: start;
}
