.Clothes__add-btn {
  padding: 4px 0 0 0;
  border: none;
  top: 10px;
  background: none;
  color: #00000099;
}

.clothes-section__header {
  gap: 20px;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}
